/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.screen {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.screen.active {
    display: flex;
}

.navigation-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #7B7878;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

/* Контейнер для SVG */
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.svg-container svg {
    max-width: 100%;
    height: auto;
}

/* Стили для других экранов */
#screen2, #screen3 {
    background: #272626;
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #C4B8B8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#screen2 h1, #screen3 h1 {
    font-family: 'Bungee Hairline', cursive;
    margin-bottom: 20px;
    color: #D9D9D9;
}